.main-content > .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.list{
    max-height: 80px;
    overflow-y: hidden;

    transition-timing-function: ease-out;
}


.form{
    width: calc(50% - 20px);
    padding: 10px 10px;
}

.form + .form{
    margin-top: 20px;
}

.form > .sessionForm-title{
    font-weight: 300;
    font-size: 20px;
}

.form > .list > .element{
    display: flex;
    align-items: center;
    margin-top: 10px;

    height: 60px;

    padding: 5px 0;

    background-color: #212125;
    border-radius: 10px;

    transition: .1s ease-out background-color;
}

.form > .list > .element:hover{
    background-color: #292929;
}


.form > .list > .element-closed{
    background-color: #212125;
}
.form > .list > .element-closed:hover{
    background-color: #212125;
}



.form > .button{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;
}


.form > .close-all{
    background-color: #ff6169de;
}
.form > .close-all:hover{
    background-color: #ff6169;
}

.form > .list > .element > .icon{
    width: 30px;
    height: 30px;
    margin: 0 15px;
    padding: 5px;
    border-radius: 10px;
    background-color: #5a5a5a4b;
}



.form > .list > .element > .content > .location{
    font-weight: 400;
    font-size: 17px;
}

.form > .list > .element > .content > .other{
    display: flex;
    align-items: center;
}


.form > .list > .element > .content > .other > *{
    font-weight: 300;
    font-size: 16px;
}






.about > .data > .content > .header{
    display: flex;
    align-items: center;
    justify-content: space-around;

    border-bottom: #3f3f4e 1px solid;

    height: 30%;
}

.about > .data > .content > .header > .content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.about > .data > .content > .header > .content > .os{
    margin-top: 5px;
    margin-bottom: 5px;
}

.about > .data > .content > .header > .content > .time{
    font-size: 16px;
    font-weight: 300;
}
.about > .data > .content > .header > .content > .icon{
    width: 64px;
    height: 64px;
}


.about > .data > .content > .body{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
}

.about > .data > .content > .body > .info{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 70%;
    
}





.about > .data > .content > .body > .info > div > .title{
    font-size: 16px;
    font-weight: 300;
}

.about > .data > .content > .body > .button{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    background-color: #ff6169de;
}


.about > .data > .content > .body > .button:hover{
    background-color: #ff6169;
}